/.bundle
/.env
/.env.*
!/.env.example
/.kamal/secrets
/config/master.key
/config/credentials/*.key
/coverage
/log/*
!/log/.keep
/node_modules
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
!/tmp/storage
!/tmp/storage/.keep
/vendor/bundle
